*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.metadata/
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
logs/
target/

# Emacs
*~
.#*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
